asgiref==3.3.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
Django==3.2.3
idna==2.10
paypal-payouts-sdk==1.0.0
paypalhttp==1.0.0
pycparser==2.20
pyOpenSSL==20.0.1
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.4
gunicorn==19.9.0
boto3==1.9.6
