{% extends "authentication/base.html" %}

{% block title %}
    Post Job
{% endblock %}

{% block main %}
    <h1>Post a Job!</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <!--Include the JS & CSS-->
    <link rel="stylesheet" href="https://richtexteditor.com/richtexteditor/rte_theme_default.css" />
    <script type="text/javascript" src="https://richtexteditor.com/richtexteditor/rte.js"></script>
    <script type="text/javascript" src='https://richtexteditor.com/richtexteditor/plugins/all_plugins.js'></script>
    <div id="div_editor1">
        <p>Hello world!</p>
    </div>
    <script>
        var editor1cfg = {}
        editor1cfg.toolbar = "basic";
        var editor1 = new RichTextEditor("#div_editor1", editor1cfg);
    </script>
{% endblock %}