{% extends "authentication/base.html" %}

{% block title %}
    Post Job
{% endblock %}

{% block main %}
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>   
    <h1>Post a Job!</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <div id="editor"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
{% endblock %}