{% extends "authentication/base.html" %}

{% block title %}
    Tasks Completed
{% endblock %}

{% block main %}
    <h3>Job Title: {{ submission.job.title }}</h3>
    <p>Description: {{ submission.job.description|safe }}</p>
    <p>User: {{ profile.member_username }}</p>
    <p>Submitted: {{ submission.proof }}</p>

    <button class="btn btn-danger">Mark as Failed</button>
    <button class="btn btn-warning">Mark as Revise</button>
    <button class="btn btn-success">Mark as Submitted</button>

{% endblock %}