{% extends "authentication/base.html" %}

{% block title %}
    Post Job
{% endblock %}

{% block main %}
    <h1>Task: {{ task.title }}</h1>
    <h3>Description: </h3>
    <div>
        {{ task.description|safe }}
    </div>
    <hr>
    <h3>Proof</h3>
    <small>Please make sure only submit relevant information. Don't submit anything else in order to not get marked as spam by employers.</small>
    <form method="POST">
        {% csrf_token %}
        <textarea name="proof" cols="30" rows="10" id="proof"></textarea>
        <button type="submit">Submit</button>
    </form>
    <div style="border: 3px solid black; width: 300px; height: 100px;" id="dropzone">
        <h4>If you want to upload a file, drag and drop here. </h4>
    </div>

    <div id="files"></div>

    <script>
        var dropzone = document.getElementById("dropzone");
        dropzone.addEventListener("drop", function(e) {
            e.stopPropagation();
            e.preventDefault();

            var items = event.dataTransfer.items;
            for (var i = 0; i < items.length; i++) {
                var entry = items[i].webkitGetAsEntry();
                if (entry) {
                    traverse(entry);
                }
            }

        }, false);

        dropzone.ondragover = function (e) {
            e.preventDefault()
        }

        function traverse(entry, path) {
            path = path || "";
            if (entry.isFile) {
                // Get file

                entry.file(function(file) {
                    const formData = new FormData()
                    formData.append("file", file)
                    // .then(response => response.json())
                    // .then(data => {
                    //     console.log(data)
                    // })
                    fetch("/api/upload/", {
                        method: "POST",
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        document.getElementById("proof").innerText += data.url
                    })
                    var LI = document.createElement("LI")
                    LI.innerText = path + file.name
                    document.getElementById("files").appendChild(LI);
                    console.log("File:", path + file.name);
                });
            }
        }
    </script>

{% endblock %}